<a href="https://colab.research.google.com/github/nayeemkhan2192/Survey-Monkey-Tutorial/blob/master/Script1_data_by_nk_manipulate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import io

In [12]:
from google.colab import files
uploaded =files.upload()

Saving data_actual.xlsx to data_actual.xlsx

In [13]:
dataset = pd.read_excel(io.BytesIO(uploaded['data_actual.xlsx']))
dataset

     Respondent ID-  ... Question 30-Response 3
0        5379192392  ...                    NaN
1        2658722536  ...               Answer 1
2        4044163394  ...                    NaN
3        5535865599  ...               Answer 6
4        3356802928  ...               Answer 8
..              ...  ...                    ...
193      7940065082  ...               Answer 8
194      5157705612  ...               Answer 6
195      9920755555  ...                    NaN
196      6638341389  ...                    NaN
197      8114622230  ...                    NaN

[198 rows x 100 columns]

In [14]:
dataset_modified = dataset
dataset_modified

     Respondent ID-  ... Question 30-Response 3
0        5379192392  ...                    NaN
1        2658722536  ...               Answer 1
2        4044163394  ...                    NaN
3        5535865599  ...               Answer 6
4        3356802928  ...               Answer 8
..              ...  ...                    ...
193      7940065082  ...               Answer 8
194      5157705612  ...               Answer 6
195      9920755555  ...                    NaN
196      6638341389  ...                    NaN
197      8114622230  ...                    NaN

[198 rows x 100 columns]

In [15]:
dataset_modified.columns

Index(['Respondent ID-', 'Start Date-', 'End Date-', 'Email Address-',
       'First Name-', 'Last Name-', 'Custom Data 1-',
       'Identify which division you work in.-Response',
       'Identify which division you work in.-Other (please specify)',
       'Which of the following best describes your position level?-Response',
       'Which generation are you apart of?-Response',
       'Please select the gender in which you identify.-Response',
       'Which duration range best aligns with your tenure at your company?-Response',
       'Which of the following best describes your employment type?-Response',
       'Question 1-Response', 'Question 2-Response',
       'Question 3-Open-Ended Response', 'Question 4-Response',
       'Question 4-Other (please specify)', 'Question 5-Response 1',
       'Question 5-Response 2', 'Question 5-Response 3',
       'Question 5-Response 4', 'Question 5-Response 5',
       'Question 5-Response 6', 'Question 6-Response 1',
       'Question 6-Response 2', 'Question 6-Response 3',
       'Question 6-Response 4', 'Question 6-Response 5',
       'Question 6-Response 6', 'Question 7-Response 1',
       'Question 7-Unscheduled', 'Question 8-Response 1',
       'Question 8-Response 2', 'Question 8-Response 3',
       'Question 8-Response 4', 'Question 9-Response 1',
       'Question 9-Response 2', 'Question 9-Response 3',
       'Question 9-Response 4', 'Question 10-Response 1',
       'Question 10-Response 2', 'Question 10-Response 3',
       'Question 10-Response 4', 'Question 10-Response 5',
       'Question 11-Reponse 1', 'Question 11-Response 2',
       'Question 12-Response', 'Question 13-Response', 'Question 14-Response',
       'Question 15-Response', 'Question 16-Response', 'Question 17-Response',
       'Question 18-Response', 'Question 19-Response',
       'Question 19-Other (please specify)', 'Question 20-Response',
       'Question 21-Response', 'Question 22-Reponse 1',
       'Question 22-Reponse 2', 'Question 23-Response',
       'Question 24-Response 1', 'Question 24-Response 2',
       'Question 24-Response 3', 'Question 24-Response 4',
       'Question 24-Response 5', 'Question 25-Response 1',
       'Question 25-Response 2', 'Question 25-Response 3',
       'Question 25-Response 4', 'Question 25-Response 5',
       'Question 25-Response 6', 'Question 25-Response 7',
       'Question 25-Response 8', 'Question 25-Response 9',
       'Question 26-Response 1', 'Question 26-Response 2',
       'Question 26-Response 3', 'Question 26-Response 4',
       'Question 27-Response 1', 'Question 27-Response 2',
       'Question 28-Response', 'Question 29-Response 1',
       'Question 29-Response 2', 'Question 29-Response 3',
       'Question 29-Response 4', 'Question 29-Response 5',
       'Question 29-Response 6', 'Question 29-Response 7',
       'Question 29-Response 8', 'Question 29-Response 9',
       'Question 29-Response 10', 'Question 29-Response 11',
       'Question 29-Response 12', 'Question 29-Response 13',
       'Question 29-Response 14', 'Question 30-Response 1',
       'Question 30-Response 2', 'Question 30-Response 3'],
      dtype='object')

In [16]:
columns_to_drop= [ 'Start Date-', 'End Date-', 'Email Address-','First Name-', 'Last Name-', 'Custom Data 1-']
columns_to_drop

['Start Date-',
 'End Date-',
 'Email Address-',
 'First Name-',
 'Last Name-',
 'Custom Data 1-']

In [17]:
dataset_modified= dataset
dataset_modified = dataset_modified.drop(columns=columns_to_drop)
dataset_modified

     Respondent ID-  ... Question 30-Response 3
0        5379192392  ...                    NaN
1        2658722536  ...               Answer 1
2        4044163394  ...                    NaN
3        5535865599  ...               Answer 6
4        3356802928  ...               Answer 8
..              ...  ...                    ...
193      7940065082  ...               Answer 8
194      5157705612  ...               Answer 6
195      9920755555  ...                    NaN
196      6638341389  ...                    NaN
197      8114622230  ...                    NaN

[198 rows x 94 columns]

In [19]:
id_vars=list(dataset_modified.columns)[:8] 
value_vars = list(dataset_modified.columns)[8 :] 
#value_vars

In [20]:
dataset_melted = dataset_modified.melt(id_vars=id_vars,value_vars=value_vars,var_name='Question_SubQuestion',value_name='Answers')
dataset_melted

       Respondent ID-  ...   Answers
0          5379192392  ...       NaN
1          2658722536  ...  Answer 4
2          4044163394  ...  Answer 5
3          5535865599  ...  Answer 1
4          3356802928  ...       NaN
...               ...  ...       ...
17023      7940065082  ...  Answer 8
17024      5157705612  ...  Answer 6
17025      9920755555  ...       NaN
17026      6638341389  ...       NaN
17027      8114622230  ...       NaN

[17028 rows x 10 columns]

In [21]:
from google.colab import files
uploaded2 =files.upload()

Saving question.xlsx to question.xlsx

In [22]:
questions_import = pd.read_excel(io.BytesIO(uploaded2['question.xlsx']))
questions_import

      RawQuestion  RawResponds  ...  Subquestion     Question+Subquestion
0   Respondent ID          NaN  ...          NaN           Respondent ID-
1      Start Date          NaN  ...          NaN              Start Date-
2        End Date          NaN  ...          NaN                End Date-
3   Email Address          NaN  ...          NaN           Email Address-
4      First Name          NaN  ...          NaN              First Name-
..            ...          ...  ...          ...                      ...
95            NaN  Response 13  ...  Response 13  Question 29-Response 13
96            NaN  Response 14  ...  Response 14  Question 29-Response 14
97    Question 30   Response 1  ...   Response 1   Question 30-Response 1
98            NaN   Response 2  ...   Response 2   Question 30-Response 2
99            NaN   Response 3  ...   Response 3   Question 30-Response 3

[100 rows x 5 columns]

In [23]:
questions = questions_import.copy()
questions

      RawQuestion  RawResponds  ...  Subquestion     Question+Subquestion
0   Respondent ID          NaN  ...          NaN           Respondent ID-
1      Start Date          NaN  ...          NaN              Start Date-
2        End Date          NaN  ...          NaN                End Date-
3   Email Address          NaN  ...          NaN           Email Address-
4      First Name          NaN  ...          NaN              First Name-
..            ...          ...  ...          ...                      ...
95            NaN  Response 13  ...  Response 13  Question 29-Response 13
96            NaN  Response 14  ...  Response 14  Question 29-Response 14
97    Question 30   Response 1  ...   Response 1   Question 30-Response 1
98            NaN   Response 2  ...   Response 2   Question 30-Response 2
99            NaN   Response 3  ...   Response 3   Question 30-Response 3

[100 rows x 5 columns]

In [24]:
questions.columns
questions=questions.drop(columns= ['RawResponds', 'Questions', 'Subquestion'])

In [25]:
questions.dropna(inplace=True)
questions

                                          RawQuestion                               Question+Subquestion
0                                       Respondent ID                                     Respondent ID-
1                                          Start Date                                        Start Date-
2                                            End Date                                          End Date-
3                                       Email Address                                     Email Address-
4                                          First Name                                        First Name-
5                                           Last Name                                         Last Name-
6                                       Custom Data 1                                     Custom Data 1-
7                Identify which division you work in.      Identify which division you work in.-Response
9   Which of the following best describes your pos...  Which of the following best describes your pos...
10                 Which generation are you apart of?        Which generation are you apart of?-Response
11    Please select the gender in which you identify.  Please select the gender in which you identify...
12  Which duration range best aligns with your ten...  Which duration range best aligns with your ten...
13  Which of the following best describes your emp...  Which of the following best describes your emp...
14                                         Question 1                                Question 1-Response
15                                         Question 2                                Question 2-Response
16                                         Question 3                     Question 3-Open-Ended Response
17                                         Question 4                                Question 4-Response
19                                         Question 5                              Question 5-Response 1
25                                         Question 6                              Question 6-Response 1
31                                         Question 7                              Question 7-Response 1
33                                         Question 8                              Question 8-Response 1
37                                         Question 9                              Question 9-Response 1
41                                        Question 10                             Question 10-Response 1
46                                        Question 11                              Question 11-Reponse 1
48                                        Question 12                               Question 12-Response
49                                        Question 13                               Question 13-Response
50                                        Question 14                               Question 14-Response
51                                        Question 15                               Question 15-Response
52                                        Question 16                               Question 16-Response
53                                        Question 17                               Question 17-Response
54                                        Question 18                               Question 18-Response
55                                        Question 19                               Question 19-Response
57                                        Question 20                               Question 20-Response
58                                        Question 21                               Question 21-Response
59                                        Question 22                              Question 22-Reponse 1
61                                        Question 23                               Question 23-Response
62                                        Question 24                             Question 24-Response 1
67                                        Question 25                             Question 25-Response 1
76                                        Question 26                             Question 26-Response 1
80                                        Question 27                             Question 27-Response 1
82                                        Question 28                               Question 28-Response
83                                        Question 29                             Question 29-Response 1
97                                        Question 30                             Question 30-Response 1

In [26]:
questions.columns

Index(['RawQuestion', 'Question+Subquestion'], dtype='object')

In [27]:
question2 = questions.rename(columns={'Question+Subquestion':'Question_SubQuestion'},inplace=False)
question2

                                          RawQuestion                               Question_SubQuestion
0                                       Respondent ID                                     Respondent ID-
1                                          Start Date                                        Start Date-
2                                            End Date                                          End Date-
3                                       Email Address                                     Email Address-
4                                          First Name                                        First Name-
5                                           Last Name                                         Last Name-
6                                       Custom Data 1                                     Custom Data 1-
7                Identify which division you work in.      Identify which division you work in.-Response
9   Which of the following best describes your pos...  Which of the following best describes your pos...
10                 Which generation are you apart of?        Which generation are you apart of?-Response
11    Please select the gender in which you identify.  Please select the gender in which you identify...
12  Which duration range best aligns with your ten...  Which duration range best aligns with your ten...
13  Which of the following best describes your emp...  Which of the following best describes your emp...
14                                         Question 1                                Question 1-Response
15                                         Question 2                                Question 2-Response
16                                         Question 3                     Question 3-Open-Ended Response
17                                         Question 4                                Question 4-Response
19                                         Question 5                              Question 5-Response 1
25                                         Question 6                              Question 6-Response 1
31                                         Question 7                              Question 7-Response 1
33                                         Question 8                              Question 8-Response 1
37                                         Question 9                              Question 9-Response 1
41                                        Question 10                             Question 10-Response 1
46                                        Question 11                              Question 11-Reponse 1
48                                        Question 12                               Question 12-Response
49                                        Question 13                               Question 13-Response
50                                        Question 14                               Question 14-Response
51                                        Question 15                               Question 15-Response
52                                        Question 16                               Question 16-Response
53                                        Question 17                               Question 17-Response
54                                        Question 18                               Question 18-Response
55                                        Question 19                               Question 19-Response
57                                        Question 20                               Question 20-Response
58                                        Question 21                               Question 21-Response
59                                        Question 22                              Question 22-Reponse 1
61                                        Question 23                               Question 23-Response
62                                        Question 24                             Question 24-Response 1
67                                        Question 25                             Question 25-Response 1
76                                        Question 26                             Question 26-Response 1
80                                        Question 27                             Question 27-Response 1
82                                        Question 28                               Question 28-Response
83                                        Question 29                             Question 29-Response 1
97                                        Question 30                             Question 30-Response 1

In [28]:
dataset_merged = pd.merge(left= dataset_melted,right= question2 ,how="left",left_on="Question_SubQuestion",right_on="Question_SubQuestion")
print("Original Data",len(dataset_melted))
print("Original Data",len(dataset_merged))

Original Data 17028
Original Data 17028

In [29]:
dataset_merged

       Respondent ID-  ... RawQuestion
0          5379192392  ...  Question 1
1          2658722536  ...  Question 1
2          4044163394  ...  Question 1
3          5535865599  ...  Question 1
4          3356802928  ...  Question 1
...               ...  ...         ...
17023      7940065082  ...         NaN
17024      5157705612  ...         NaN
17025      9920755555  ...         NaN
17026      6638341389  ...         NaN
17027      8114622230  ...         NaN

[17028 rows x 11 columns]

In [30]:
dataset_merged.groupby("RawQuestion")["Respondent ID-"].count().reset_index()

    RawQuestion  Respondent ID-
0    Question 1             198
1   Question 10             198
2   Question 11             198
3   Question 12             198
4   Question 13             198
5   Question 14             198
6   Question 15             198
7   Question 16             198
8   Question 17             198
9   Question 18             198
10  Question 19             198
11   Question 2             198
12  Question 20             198
13  Question 21             198
14  Question 22             198
15  Question 23             198
16  Question 24             198
17  Question 25             198
18  Question 26             198
19  Question 27             198
20  Question 28             198
21  Question 29             198
22   Question 3             198
23  Question 30             198
24   Question 4             198
25   Question 5             198
26   Question 6             198
27   Question 7             198
28   Question 8             198
29   Question 9             198

In [31]:
respondents = dataset_merged[dataset_merged["Answers"].notna()]
respondents = respondents.groupby("RawQuestion")["Respondent ID-"].nunique().reset_index()
respondents.rename(columns={"Respondent ID-":"Respondents"}, inplace=True)
respondents

    RawQuestion  Respondents
0    Question 1          119
1   Question 10          113
2   Question 11          122
3   Question 12          114
4   Question 13          108
5   Question 14          105
6   Question 15          114
7   Question 16          117
8   Question 17          135
9   Question 18          109
10  Question 19          119
11   Question 2          118
12  Question 20          105
13  Question 21          127
14  Question 22          107
15  Question 23          120
16  Question 24          111
17  Question 25          105
18  Question 26          100
19  Question 27          106
20  Question 28          119
21  Question 29          120
22   Question 3          117
23  Question 30          103
24   Question 4          116
25   Question 5          118
26   Question 6          116
27   Question 7          118
28   Question 8          117
29   Question 9          121

In [32]:

dataset_merged_two = pd.merge(left=dataset_merged, right=respondents, how="left", left_on="RawQuestion", right_on="RawQuestion")
print("Original Data", len(dataset_merged))
print("Merged Data", len(dataset_merged_two))
dataset_merged_two

Original Data 17028
Merged Data 17028

       Respondent ID-  ... Respondents
0          5379192392  ...       119.0
1          2658722536  ...       119.0
2          4044163394  ...       119.0
3          5535865599  ...       119.0
4          3356802928  ...       119.0
...               ...  ...         ...
17023      7940065082  ...         NaN
17024      5157705612  ...         NaN
17025      9920755555  ...         NaN
17026      6638341389  ...         NaN
17027      8114622230  ...         NaN

[17028 rows x 12 columns]

In [36]:
same_answer = dataset_merged
same_answer = same_answer.groupby(["Question_SubQuestion","Answers"])["Respondent ID-"].nunique().reset_index()
same_answer.rename(columns={"Respondent ID-":"Same Answer"}, inplace=True)
same_answer

      Question_SubQuestion   Answers  Same Answer
0      Question 1-Response  Answer 1           14
1      Question 1-Response  Answer 2           10
2      Question 1-Response  Answer 3           13
3      Question 1-Response  Answer 4           17
4      Question 1-Response  Answer 5           22
..                     ...       ...          ...
683  Question 9-Response 4  Answer 4           16
684  Question 9-Response 4  Answer 5           13
685  Question 9-Response 4  Answer 6           14
686  Question 9-Response 4  Answer 7           12
687  Question 9-Response 4  Answer 8           19

[688 rows x 3 columns]